dash
dash-bootstrap-components
diskcache
multiprocess
psutil
pandas
python-dotenv
gunicorn
supabase
fredapi
econdatapy @ git+https://github.com/coderaanalytics/econdatapy.git
pyjwt
yfinance
requests
openpyxl
