--extra-index-url https://test.pypi.org/simple/
dash
dash-bootstrap-components
diskcache
multiprocess
psutil
pandas
python-dotenv
gunicorn
supabase
fredapi
econdatapy
pyjwt
yfinance
requests
openpyxl
